.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #99a2b5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

table {
  width: 100%;
  max-width: 80%;
  border-collapse: collapse;
}

th {
  text-align: center;
}

td {
  text-align: center;
  border: 1px solid #ddd;
  height: 70px;
}


thead th {
  border: none;
  font-size: 2em;
  padding-bottom: 30px;
}

tbody td {
  border: 1px solid #ddd;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
